# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
.env/

# Environment variable files
*.env

# Flask instance folder
instance/

# VS Code settings (optional)
.vscode/

# OS junk files
.DS_Store
Thumbs.db

# Log files
*.log
